<h1>Welcome to Naboo!</h1>
<p>Enter this code to verify your email address and complete your registration for Naboo:</p>
<p><strong><%= @code %></strong></p>
<p>This code will expire in 10 minutes.</p>
<p>This message was sent because your email address was used to create a new account with Naboo. If that wasn’t you, you can ignore this email and the account will not be activated.</p>
<br/>
<p>-- The Naboo Team</p>
